.post-header {
    position: relative;
}

.list-questions-post {
    position: absolute;
    background-color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-questions-post li {
    padding: 5px 8px;
    cursor: pointer;
}

.list-questions-post li:hover {
    background-color: #e5ebf1
}

.list-questions-post li:nth-child(2n) {
    border-top: 1px solid #f3f3f3;
}

.list-questions-post {
    right: 5px;
    top: 30px;
    border: 1px solid #c5d0db;
    box-shadow: 0 1px 3px #00000014;
}

.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.user {
    border: none;
    background: transparent;
    cursor: pointer;
}

.user-name__input{
    color: #000000;
    font-size: 15px;
    font-weight: normal;
}

.modal-user{
    background: #fff;
    max-width: 600px;
    width: 100%;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-modal-close{
    display:block;
    margin-left: auto;
    background-color: #eb5353;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.modal-user__content{
    padding: 0 50px;

}
.modal-user__title{
    text-align: center;
}
.modal-user__sign-out{
    display:block;
    background-color: #eb5353;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    margin-left: auto;
    cursor: pointer;
}